.about {

  margin:150px 0;
  .col-md-6 {
    h2 {
      padding: 0 0 5px 5px;
      font-size: 40px;
      font-weight: bold;
      text-transform: uppercase;
      color: $hcolor;
    }
    h2:before {
      content: '';
      background: #7beec7;
      width: 90px;
      height: 27px;
      display: inline-block;
      margin: 0 -92px -10px 0;
    }
    h4 {
      color: $hcolor;
      text-transform: uppercase;
      padding: 20px 0;
      font-weight: bold;
    }
    p {
      font-size: 17px;
      color: #808080;
      line-height: 35px;
      font-weight: lighter;
    }
  }
  .col-md-12{
    h2 {
      margin-top:150px;
      padding: 0 0 5px 5px;
      font-size: 40px;
      font-weight: bold;
      text-transform: uppercase;
      color: $hcolor;
      text-align: center;
    }
    h2:before {
      content: '';
      background: #7beec7;
      width: 90px;
      height: 27px;
      display: inline-block;
      margin: 0 -92px -10px 0;
    }
  }
  .col-md-12 p {
    text-align: center;
    font-size: 15px;
    color: #808080;
    line-height: 30px;
    font-weight: lighter;
    margin:0 20%;
  }
}


