
.header-nav {
  font-weight: bold;
  color: $hcolor;
  text-transform: uppercase;
  padding-top: 40px;
  background:url("../img/about.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    a {
      color: $hcolor;
      text-decoration: none;

    }
    a:hover {
      text-decoration: none;
      color: black
    }
    .col-md-1 {
      font-size: 20px;
    }
    .col-md-5 {
      a {
        padding-right: 10px;
        font-size: 15px;
      }
    }
    .col-md-12 {
      padding:200px 0 ;
      text-align: center;
      h1 {
        font-weight: bold;
        font-size: 45px;
      }
    }

}
