.benefits {
    margin-bottom: 150px;

    h3 {
      color:$hcolor;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 20px;
      padding-top: 10px;
      padding-left: 55px;
      height:45px;
    }
    p {
      font-size: 17px;
      color: #808080;
      line-height: 35px;
      font-weight: lighter;
    }

    .ben-1 {
      background: url("../img/ben-1.png") no-repeat;
    }
    .ben-2 {
      background: url("../img/ben-2.png") no-repeat;
    }
    .ben-3 {
      background: url("../img/ben-3.png") no-repeat;
    }
    .ben-4 {
      background: url("../img/ben-4.png") no-repeat;
    }
    .ben-5 {
      background: url("../img/ben-5.png") no-repeat;
    }
    .ben-6 {
      background: url("../img/ben-6.png") no-repeat;
    }

}