.dream-team {
  .container {
    padding: 0;
    .col-md-12 {
      h2 {
        padding: 0 0 5px 5px;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        color: $hcolor;
        text-align: center;
      }
      h2:before {
        content: '';
        background: #7beec7;
        width: 90px;
        height: 27px;
        display: inline-block;
        margin: 0 -92px -10px 0;
      }
    }
    .col-md-12 p {
      text-align: center;
      font-size: 15px;
      color: #808080;
      line-height: 30px;
      font-weight: lighter;
      margin:0 20%;
      margin-bottom: 150px;
    }
    .col-md-3 {
      padding: 0;
    }
    img {
      display: block;
      margin:auto;
      padding:0 0 30px 0;
    }

    .read-more {
      background-color: #e8e8e8;
      padding: 60px 20px;
      text-align: center;
      margin:0 45px;

      i {
        font-size: 17px;
        color: #808080;
        line-height: 53px;
        font-weight: lighter;
        padding:15px 0;
      }

      .btn-lg {
        color: white;
        font-size: 15px;
        background-color: $special-color;
        padding: 15px 35px;
        text-transform: uppercase;
        border: none;
        border-radius: 0;
      }
      .btn:hover {
        color: $special-color;
        background-color: white;
        transition: 0.9s;
      }
    }
  }
}

