.join-us {
  background-color: $special-color;

  .container {
    padding:30px 0 50px 0;

    .col-lg-4 {

      h2 {
        font-size: 35px;
        color: white;
        text-transform: uppercase;
        line-height: 50px;
      }
      .btn-lg {
        color: $special-color;
        font-size: 15px;
        background-color: white;
        padding: 15px 35px;
        text-transform: uppercase;
        border: none;
        border-radius: 0;
      }
      .btn-lg:hover {
        color: $special-color;
        transition: 0.5s;
        box-shadow: 0 0 15px rgba(0,0,0,0.3);
      }

    }
  }
  .col-lg-8 {
    margin-top:32px;
    background-color: white;
    padding:20px 30px;


    h3 {
      margin-top:0;
      color:$hcolor;
      font-size: 27px;
      line-height: 45px;
      text-transform: uppercase;
      font-weight: bold;

    }
    p {
      font-size: 17px;
      color: #808080;
      line-height: 35px;
      font-weight: lighter;
      margin-bottom: 0;
    }

    input:focus ~ .floating-label,
    input:not(:focus):valid ~ .floating-label{
      top: 69%;
      left: 35px;
      font-size: 11px;
      opacity: 1;
      font-weight: bold;
      padding:0 5px;
      color: $special-color;

    }
    .form-control:focus {
      border-color: lightgray;
      box-shadow: none;
    }

    .form-control {
      height:60px;
      width:80%;
      border-radius: 0;
      padding-left:30px;
      margin-top:15px;
      margin-left:-5px;
    }

    .floating-label {
      z-index: 1;
      background-color:white;
      padding-bottom: 1px;
      text-transform: uppercase;
      position: absolute;
      pointer-events: none;
      left: 50px;
      top: 78.5%;
      transition: 0.2s ease all;
      color:lightgray;
    }

    .btn-lg {
      color: white;
      font-size: 15px;
      background-color: $special-color;
      padding: 20px 48px 21px 48px;
      text-transform: uppercase;
      border: none;
      border-radius: 0;
      margin-left:-5px;
      margin-top:15px;
    }
    .btn-lg:hover {
      transition: 0.5s;
      box-shadow: 0 0 15px rgba(0,0,0,0.3);
    }

  }
}
