.mainpage-header {
  height: 1010px;
  font-weight: bold;
  color: $hcolor;
  padding-top: 40px;
  background:url("../img/homepage.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  a {
    color: $hcolor;
    text-decoration: none;

  }
  a:hover {
    text-decoration: none;
    color: black
  }
  .col-lg-1 {
    text-transform: uppercase;
    font-size: 20px;
  }
  .col-lg-7 {
      ul {
        float:right;
        padding-right: 40px;
      }
    a {
      text-transform: uppercase;
      padding-right: 10px;
      font-size: 15px;
    }
    a::before {
      content: "";
      border-top:0 solid $hcolor;
      width:50%;
      display:inline-block;
      margin-bottom: -10px;
    }
    a:hover:before {
      content: "";
      border-top:1px solid $hcolor;
      width:50%;
      display:inline-block;
      margin-bottom: 6px;
      transition: 0.3s;
    }
  }
  .col-md-12 {
    padding:200px 0 ;
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 55px;
      border:10px solid $hcolor;
      padding:20px 0;
      margin:0 33%;
    }
    h3{
      text-transform: uppercase;
      padding:7px 0;
      margin:0 46%;
      background-color:$special-color;
      font-weight: bold;
    }
    p{
      line-height: 25px;
      padding-top:30px;
      font-size:17px;
      text-align:center;
      color:grey;
      font-weight: lighter;
      margin:0 33%;
    }
  }
  .col-md-6 {
    img{
      width:100%;
    }
    h2 {
      background: bottom left url("../img/shadow.png") no-repeat;
      background-size: 90px;
      padding-left: 5px;
      padding-bottom: 5px;
      font-size: 40px;
      font-weight: bold;
      text-transform: uppercase;
      color: $hcolor;
    }
    p {
      font-size: 17px;
      color: #808080;
      line-height: 35px;
      font-weight: lighter;
    }
    .btn-lg {
      color: white;
      font-size: 15px;
      background-color: $special-color;
      padding: 15px 35px;
      text-transform: uppercase;
      border: none;
      border-radius: 0;
      float:right;
      margin-bottom: 150px;
    }
    .btn:hover {
      color: $special-color;
      background-color: white;
      transition: 0.9s;
      box-shadow: 0 0 15px rgba(0,0,0,0.3);
    }
  }

}