.portfolio {
    margin-bottom: 150px;
  h2 {
    padding: 0 0 5px 5px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: $hcolor;
    text-align: center;
  }
  h2:before {
    content: '';
    background: #7beec7;
    width: 90px;
    height: 27px;
    display: inline-block;
    margin: 0 -92px -10px 0;
  }
  p {
    text-align: center;
    font-size: 15px;
    color: #808080;
    line-height: 35px;
    font-weight: lighter;
    padding-bottom: 120px;
    margin:0 20%;
  }
  h3 {
    margin:0;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: $hcolor;
    line-height: 55px;
  }
  h5 {
    padding:5px 25px;
    background-color: $special-color;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
    margin-right: 78%;
  }
  ul {
    margin:20px 0;
    list-style-type: none;
    padding-left: 25px;

    li {
      line-height: 40px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  img {
    width:100%;
    padding:0 0 30px 0;
  }
  a {
    color: $hcolor;
  }
  a:hover {
    text-decoration: none;
    color: $special-color;
    transition: 0.3s;
  }
}