.pricing-plans {

  margin-bottom: 150px;

  h2 {
    background: bottom left url("../img/shadow.png") no-repeat;
    background-size: 90px;
    background-position: 43% 20px;
    padding: 0 0 5px 5px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: $hcolor;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 15px;
    color: #808080;
    line-height: 30px;
    font-weight: lighter;
    margin: 0 20%;
    padding-bottom: 120px;
  }

  .col-md-4 {

  }
  .col-md-4:hover {
    transition: 0.5s;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    h3 {
      margin-bottom: 22px;
      font-size: 42px;
      font-weight: bold;
      text-transform: uppercase;
      color: $hcolor;
      padding-top: 30px;
      border-top:6px solid $special-color;
      transition: 0.3s;
    }
    h4 {
      color: white;
      text-transform: uppercase;
      background-color: $special-color;
      padding: 10px 20px;
      margin-right: 50%;
      transition: 0.5s;
      font-size:20px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 40px;

      li {
        background: left url("../img/icon-hint.png") no-repeat;
        padding-left: 25px;
        font-size: 17px;
        color: #808080;
        line-height: 35px;
        font-weight: lighter;
        transition: 0.5s;
      }
    }
  }
  h3 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: $hcolor;
    padding-top: 30px;
    border-top:6px solid $special-color;
  }
  h4 {
    color: white;
    text-transform: uppercase;
    background-color: $special-color;
    padding: 10px 20px;
    margin-right: 52%;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;

    li {
      background: left url("../img/icon-hint.png") no-repeat;
      padding-left: 25px;
      font-size: 15px;
      color: #808080;
      line-height: 35px;
      font-weight: lighter;
    }
  }
}
