.about_us {
  h5 {padding-bottom: 10px;}
}

.some_benefits {
  .col-sm-8 {margin-bottom: 100px;}
  h4 {
    &:before {
      content: '';
      background: $second-color url("../img/icon-some-benefits.png") no-repeat;
      height: 40px;
      width: 40px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }
    &.some-icon-responsive:before {@include bgpx(0);}
    &.some-icon-unlim:before {@include bgpx(-40);}
    &.some-icon-wp:before {@include bgpx(-81);}
    &.some-icon-e:before {@include bgpx(-122);}
    &.some-icon-design:before {@include bgpx(-160);}
    &.some-icon-support:before {@include bgpx(- 200);}
  }
  .col-sm-4 + .clearfix {margin-bottom: 50px;}
}

.team {
  .col-sm-8 {margin-bottom: 100px;}
  img {margin-bottom: 30px;}
  .team_read_more {
    background: #efeff0;
    font-size: 17px;
    padding: 65px 30px;
    vertical-align: middle;
    button {float: right;
      margin-top: -14px;}
  }
}

.reviews {
  .carousel-indicators {
    bottom: -40px;
    li {
      @include border-radius(0);
      height: 5px;
      width: 15px;
      border: none;
      background: $main-color;
      &.active {
        border: none;
        background: $second-color;
        width: 30px;
        margin-bottom: 1px;
      }
    }
  }
  .ava {
    @include border-radius(50);
    margin:0 auto 20px;
  }
  button {
    padding: 5px 15px;
    margin-bottom: 5px;
  }
  .col-sm-2 {margin-bottom: 30px;}
}