.about_us {
  h5 {padding-bottom: 10px;}
}

.some_benefits {

  .description { margin-bottom: 100px; }

  h4 {
    &:before {
      content: '';
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 20px;
      vertical-align: middle;
      background: $second-color url("../img/icon-some-benefits.png") no-repeat;
    }

    &.some-icon-responsive:before { background-position:      0 0; }
    &.some-icon-unlim:before      { background-position:  -40px 0; }
    &.some-icon-wp:before         { background-position:  -81px 0; }
    &.some-icon-e:before          { background-position: -122px 0; }
    &.some-icon-design:before     { background-position: -160px 0; }
    &.some-icon-support:before    { background-position: -200px 0; }
  }

  .block-clear { margin-bottom: 50px; }
}

.team {
  .description { margin-bottom: 100px; }

  .member {
    position: relative;
    margin-bottom: 30px;
    &:hover {
      .member_hover { opacity: 1; }

      h5 {
        padding-top: 0;
        opacity: 1;
      }

      span {
        margin-top: 0;
        opacity: 1;
      }
    }
  }

  .member_hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 263px;
    height: 333px;
    margin: auto;
    padding-top: 130px;
    background: rgba(255,255,255,.75);
    opacity: 0;
    @include transition();

    h5 {
      padding-top: 20px;
      opacity: 0;
      @include transition($delay:.4);
    }

    span {
      display: inline-block;
      margin-top: 20px;
      padding: 5px 5px;
      @include font-Montserrat-bold-upp;
      font-size: 12px;
      color: #fff;
      background: $second-color;
      opacity: 0;
      @include transition($delay:.6);
    }
  }

  .team_read_more {
    padding: 65px 30px;
    vertical-align: middle;
    font-size: 17px;
    background: #efeff0;

    i { display: inline-block; }

    button { float: right; }
  }
}

.reviews {

  .slide {
    margin-bottom: 50px;
    @media (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }
  }

  .carousel-indicators {
    bottom: -40px;
    li {
      width: 15px;
      height: 5px;
      background: $main-color;
      border: none;
      @include border-radius(0);
      @include transition();
      &.active {
        width: 30px;
        margin-bottom: 1px;
        background: $second-color;
        border: none;
      }
    }
  }

  .ava {
    margin: 0 auto 20px;
    @include border-radius(50);
  }

  button {
    margin-bottom: 5px;
    padding: 5px 15px;
  }

  .partner {
    display: block;
    width: 163px;
    height: 98px;
    margin: 0 auto 30px;
    border: 1px solid #ccc;

    &.archery    { background: url("../img/reviews/partners/archery.png"); }
    &.pacificana { background: url("../img/reviews/partners/pacificana.png"); }
    &.merchant   { background: url("../img/reviews/partners/merchant.png"); }
    &.atelier    { background: url("../img/reviews/partners/atelier.png"); }
    &.steak      { background: url("../img/reviews/partners/steak.png"); }
    &.wattson    { background: url("../img/reviews/partners/wattson.png"); }

    i { @include transition(); }

    &:hover i {
      display: block;
      width: 161px;
      height: 96px;
      background: rgba(0,0,0,.1);
    }
  }
}