.about_us {
  h5 {padding-bottom: 10px;}
}

.some_benefits {
  .description {margin-bottom: 100px;}
  h4 {
    &:before {
      content: '';
      background: $second-color url("../img/icon-some-benefits.png") no-repeat;
      height: 40px;
      width: 40px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }
    &.some-icon-responsive:before {@include bgpx(0);}
    &.some-icon-unlim:before {@include bgpx(-40);}
    &.some-icon-wp:before {@include bgpx(-81);}
    &.some-icon-e:before {@include bgpx(-122);}
    &.some-icon-design:before {@include bgpx(-160);}
    &.some-icon-support:before {@include bgpx(- 200);}
  }
  .block-clear {margin-bottom: 50px;}
}

.team {
  .description {margin-bottom: 100px;}
  .member {
    position: relative;
    margin-bottom: 30px;
    .member_hover {
      opacity: 0;
      position: absolute;
      top: 0;
      width: 263px;
      height: 333px;
      padding-top: 130px;
      background: rgba(255,255,255,.75);
      @include transition();
      h5 {
        opacity: 0;
        padding-top: 20px;
        @include transition($delay:.4);
      }
      span {
        opacity: 0;
        margin-top: 20px;
        background: $second-color;
        @include ffM;
        color: #fff;
        padding: 5px 5px;
        font-size: 12px;
        display: inline-block;
        @include transition($delay:.6);
      }
    }
    &:hover {
      .member_hover {opacity: 1;}
      h5 {
        opacity: 1;
        padding-top: 0;
      }
      span {
        opacity: 1;
        margin-top: 0;
      }
    }
  }

  .team_read_more {
    background: #efeff0;
    font-size: 17px;
    padding: 65px 30px;
    vertical-align: middle;
    button {float: right;
      margin-top: -14px;}
  }
}

.reviews {
  .carousel-indicators {
    bottom: -40px;
    li {
      @include border-radius(0);
      height: 5px;
      width: 15px;
      border: none;
      background: $main-color;
      @include transition();
      &.active {
        border: none;
        background: $second-color;
        width: 30px;
        margin-bottom: 1px;
      }
    }
  }
  .ava {
    @include border-radius(50);
    margin: 0 auto 20px;
  }
  button {
    padding: 5px 15px;
    margin-bottom: 5px;
  }
  .partner {
    a {
      margin-bottom: 30px;
      display: block;
      width: 163px;
      height: 98px;
      border: 1px solid #ccc;
      &.archery {background: url("../img/reviews/partners/archery.png")}
      &.pacificana {background: url("../img/reviews/partners/pacificana.png")}
      &.merchant {background: url("../img/reviews/partners/merchant.png")}
      &.atelier {background: url("../img/reviews/partners/atelier.png")}
      &.steak {background: url("../img/reviews/partners/steak.png")}
      &.wattson {background: url("../img/reviews/partners/wattson.png")}
      i {@include transition();}
      &:hover i {
        background: rgba(0,0,0,.1);
        display: block;
        width: 161px;
        height: 96px;
      }
    }
  }
}