.post {
  margin-bottom: 100px;
  &:last-child {margin-bottom: 0;}
  img {margin-bottom: 30px;}
  .post-data {
    background: $second-color;
    @include ffM;
    color: #fff;
    padding: 5px 15px;
  }
  .post-comments {
    color: #ccc;
    background: url("../img/post-comment.png") left bottom no-repeat;
    padding-left: 25px;
    margin-left: 15px;
  }
  .post-likes {
    color: #ccc;
    background: url("../img/post-likes.png") left center no-repeat;
    padding-left: 25px;
    margin-left: 20px;
  }
  h4 {margin-top: 20px;}
  p {
    color: $third-color;
    margin-bottom: 20px;
  }
  a.more {
    @include ffM;
    background: url("../img/post-more.png") center right no-repeat;
    padding-right: 15px;
    position: relative;
    &:before {
      content: '';
      background: $second-color;
      width: 0;
      height: 1px;
      display: inline-block;
      position: absolute;
      bottom: -10px;
      @include transition();
    }
    &:hover:before {
      width: 50%;
    }
  }
}

.post_nav {
  a {
    @include ffM;
    font-size: 12px;
    &.prev {
      padding-right: 20px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background: url("../img/post-nav.png") 0 0 no-repeat;
        height: 10px;
        width: 10px;
        top: 2px;
        left: -35px;
        @include transition();
      }
      &:hover:before {
        background: url("../img/post-nav-hover.png") 0 0 no-repeat;
        left: -25px;
      }
    }
    &.next {
      padding-left: 20px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        background: url("../img/post-nav.png") -12px 0 no-repeat;
        height: 10px;
        width: 10px;
        top: 2px;
        right: -35px;
        @include transition();
      }
      &:hover:after {
        background: url("../img/post-nav-hover.png") -12px 0 no-repeat;
        right: -25px;
      }
    }
  }
}

.nav-bar {
  input {
    @include border-radius(0);
    font-weight: bold;
    border: 0;
    box-shadow: none;
    background: #ececec;
    font-size: 12px;
    @include placeholder(#bbb);
    height: 40px;
    &:focus {
      box-shadow: none;
    }
    &+span>button{
      background: #ececec;
      height: 40px;
      padding: 0 15px;
    }
  }
  section { margin-top: 50px;}
  .posts {
    button {
      width: 33.3333333%;
      padding: 20px 0;
      display: block;
      float: left;
      background: none;
      color: $third-color;
      border-bottom: 2px solid #e6e6e6;
      margin-bottom: 30px;
      font-size: 12px;
      &.posts-btn-active {
        color: $main-color;
        border-bottom-color: $second-color;
      }
    }
    div {
      display: inline-block;
      height: 80px;
      padding-left: 90px;
      margin-bottom: 10px;
    }
    span {font-size: 12px;}
  }
  .min-post-name1 {background: url("../img/min-post-name1.jpg") 0 0 no-repeat;}
  .min-post-name2 {background: url("../img/min-post-name2.jpg") 0 0 no-repeat;}
  .min-post-name3 {background: url("../img/min-post-name3.jpg") 0 0 no-repeat;}

  .table td{
    border-bottom: 1px solid #bfbfbf;
    border-top: none;
    padding: 15px;
    &:last-child {text-align: right}
  }
  .tags a {
    background: #e5e5e5;
    color: $third-color;
    padding: 10px 15px;
    margin-bottom: 5px;
    @include ffM;
    font-size: 12px;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
  }
}