.contact {
  input {
    height: 50px;
    width: 100%;
    background: #fefcf9;
    border: 1px solid #e5e5e5;
    font-size: 12px;
    padding-left: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    @include placeholder(#ccc);
  }
  textarea {
    @extend input;
    height: 200px;
    padding-top: 15px;
    resize: none;
  }
  button {
    padding: 15px 65px;
    margin-bottom: 80px;
  }
  p {margin: 20px 0;}
  ul {
    list-style: none;
    padding-left: 0;
  }
  a.email {
    position: relative;
    font-weight: bold;
    &:after {
      content: '';
      position: absolute;
      background: $second-color;
      height: 1px;
      width: 0;
      display: block;
      @include transition();
    }
    &:hover:after {
      width: 50%;
    }
  }
  .social {float: left;}
}