.index-main {
  margin-top: -100px;
  background: url("../img/index-main-bg.jpg");
  height: 850px;
  .col-sm-6 {
    margin-top: 155px;
  }
  i {
    font-style: normal;
    background: $second-color;
    @include ffM;
    font-size: 18px;
    padding: 5px 15px;
    text-transform: uppercase;
  }
  h1 {
    border: 10px solid;
    font-size: 48px;
    padding: 10px 0;
    margin: 3px 0 30px;
  }
  p {font-size: 16px;}
}

.history {
  margin-top: -300px;
  background: url("../img/history.png") left top no-repeat;
  height: 400px;
  p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  button {
    float: right;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.why {
  background: url("../img/how_bg.jpg") no-repeat right bottom;
  min-height: 690px;
  p {margin-bottom: 75px;}
  .col-sm-3 {
    margin: 20px 0 40px 35px;
  }
  h4 {
    @extend h1;
    font-size: 18px;
    &:before {
      content: '';
      background: url("../img/icon-why.png") no-repeat;
      height: 30px;
      width: 35px;
      display: block;
      margin-bottom: 15px;
    }
    &.icon-unlim:before {@include bgpx(0);}
    &.icon-design:before {@include bgpx(-35);}
    &.icon-e:before {@include bgpx(-70);}
    &.icon-custom:before {@include bgpx(-105);}
  }
  ul {
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 0;
    margin-top: 15px;
    color: $third-color;
  }
}

.portfolio {
  .choose_category {
    h2{
      line-height: 1.5;
      &:before {background: none;}
    }
    ul {
      @include ffM;
      list-style: none;
      padding-left: 0;
      margin-top: 15px;
    }
    a {
      padding: 2px 20px;
      @include transition();
      &.active {
        color: #fff;
        background: $second-color;
      }
    }
  }
  .photo {
    margin-top: 30px;
    li {
      list-style: none;
      display: block;
      float: left;
    }
  }
}