.post {
  margin-bottom: 100px;
  &:last-child {margin-bottom: 0;}
  img {margin-bottom: 30px;}
  .post-data {
    background: $second-color;
    @include ffM;
    color: #fff;
    padding: 5px 15px;
  }
  .post-comments {
    color: #ccc;
    background: url("../img/post-comment.png") left bottom no-repeat;
    padding-left: 25px;
    margin-left: 15px;
  }
  .post-likes {
    color: #ccc;
    background: url("../img/post-likes.png") left center no-repeat;
    padding-left: 25px;
    margin-left: 20px;
  }
  h4 {margin-top: 20px;}
  p {
    color: $third-color;
    margin-bottom: 20px;
  }
  a {
    @include ffM;
    background: url("../img/post-more.png") center right no-repeat;
    padding-right: 15px
  }
}